@font-face {
  font-family: DINNextTR;
  src: url('../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINNextTR;
  src: url('../fonts/DINNextLTPro-Medium.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: DINNextTR;
  src: url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/DINNextLTPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
