*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 20px;
  background-color: var(--color-background1);
  color: var(--color-foreground3);
  font-family: var(--main-font-family);
}
